@keyframes show-header {
    from {
        transform: translateY(-65px) scale(0.5);
    }

    to {
        transform: translateY(0px);
    }
}

header {
    padding: 5;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    border-radius: 0px 0px 10px 10px;
    left: 0;
    align-items: center;
    animation: show-header linear 400ms;
    justify-content: space-between;
    box-shadow: 0px 0px 12px black;

    .create-div {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 9px;
        border-radius: 10px;
        transition: 250ms all; 

        &:hover {
            background: rgb(220, 220, 220);
        }

        &:active {
            transform: scale(0.5);
        }
    }

    .user {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 4px;
        border-radius: 10px;
        transition: 250ms all;
    
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }
    
        &:hover {
            background: rgb(220, 220, 220);
        }
    }
}